[submodule "vim/pack/plugins/start/everforest"]
	path = vim/pack/plugins/start/everforest
	url = https://github.com/sainnhe/everforest
[submodule "vim/pack/plugins/start/sensible"]
	path = vim/pack/plugins/start/sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/pack/plugins/start/xdg"]
	path = vim/pack/plugins/start/xdg
	url = https://github.com/tavocg/vim-xdg
