BraveSoftware
Session
cef_user_data
cmus
dconf
gnome-boxes
gtk-3.0
htop
libfm
libreoffice
libvirt
lutris
pcmanfm
pulse
surf
darktable
galculator
kalgebrarc
kdenlive-layoutsrc
kdenliverc
qt5ct
gtk-2.0
mimeapps.list
nnn
xarchiver
