BraveSoftware
Session
cef_user_data
cmus
dconf
gnome-boxes
htop
libfm
libreoffice
libvirt
lutris
pcmanfm
pulse
surf/
darktable/
galculator
kalgebrarc
kdenlive-layoutsrc
kdenliverc
mimeapps.list
nnn
xarchiver
monero-project
GIMP
caja
cinnamon
discord
evolution
hexchat
menus
nemo
pix
user-dirs.dirs
user-dirs.locale
warpinator
IJHack
KDE
PlasmaDiscoverUpdates
PlasmaUserFeedback
Trolltech.conf
akregatorrc
baloofileinformationrc
baloofilerc
discoverrc
dolphinrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
katemetainfos
katerc
kateschemarc
katevirc
kcminputrc
kconf_updaterc
kde.org
kded5rc
kdedefaults
kdeglobals
kglobalshortcutsrc
khotkeysrc
kiorc
klaunchrc
kmixrc
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib
obs-studio
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
session
systemsettingsrc
touchpadxlibinputrc
trashrc
xsettingsd
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
bitstower-markets
dleyna-renderer-service.conf
enchant
gnome-control-center
gnome-initial-setup-done
gsconnect
ibus
xdg-terminals.list
yelp
neofetch
totem
RawTherapee
audacity
bluedevilglobalrc
gwenviewrc
kdeconnect/
kfontinstuirc
khtml/
kmail2rc
konquerorrc
okularpartrc
spectaclerc
webengineurlinterceptoradblockrc
kalendaracrc
akonadi-migrationrc
akonadi/
akonadi_indexing_agentrc
chromium/
okularrc
plasmanotifyrc
arkrc
emaildefaults
kmenueditrc
ksplashrc
plasma.emojierrc
plasmawindowed-appletsrc
plasmawindowedrc
sddmthemeinstallerrc
signond/
torbrowser/
Mumble/
vlc/
lxqt/
rofi/
QtProject.conf
wget/
java/
xfce4/
Thunar/
kid3rc
gtk-3.0/bookmarks
inkscape/
0ad/
supertuxkart/
scummvm/
Nextcloud/
autostart/
gtk-2.0/gtkfilechooser.ini
kcalcrc
qalculate/
tilem2/
ktimerrc
unity3d/
gajim/
blender/
ardour7/
rstudio/
