#!/bin/sh
# Custom overrides, copy to desktop.sh to apply

export \
  LOAD_DESKTOP=1 \
  XDG_SESSION_DESKTOP=i3 \
  TERMINAL=st \
  TERM="xterm-256color" \
  BROWSER="firefox" \
  EDITOR="nvim" \
  VISUAL="em"
