* {
  font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font Mono", monospace;
  font-size: 0.75rem;
  font-weight: 600;
  min-height: 0;
  border: none;
  border-radius: 0;
  padding: 0;
}

window#waybar {
  background: #000;
  color: #374145;
}

#workspaces button {
  background: transparent;
  color: #374145;
  padding: 2px 12px;
}

#workspaces button.active {
  background: #7fbbb3;
  color: #1e2326;
}

#cpu,
#memory,
#network,
#battery,
#language,
#wireplumber,
#clock {
  padding: 1px 6px 0 6px;
}

#battery.warning,
#network.disconnected {
  color: #f0c674;
}

#battery.critical {
  color: #ff6b6b;
}
