directory.default.set = /home/tavo/Downloads/rtorrent/downloads
session.path.set = /home/tavo/Downloads/rtorrent/session
schedule2 = watch_directory,5,5,load.start=/home/tavo/Downloads/rtorrent/watch/*.torrent

dht.mode.set = on
dht.port.set = 6881
